.wd-tuiter-search-box {
    width: 80%;
	background-color: lightgray;
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 5px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.wd-tuiter-search-box > i {
	font-size: 20px;
	color: darkgray;
}

.wd-tuiter-search-box > input{
	flex: 1;
	border: none;
	outline: none;
}

.wd-tuiter-settings {
    float: right;
    padding-right: 12px;
    color:rgb(16, 16, 17);
    font-size: 300%;
    text-decoration: none;
}

.wd-horizontal {
    display: inline-block;
    margin-right: 60px; 
}

.wd-tuiter-navigation-bar {
    width: 100%;
    margin-left: 20px;
}

.wd-tuiter-navigation-bar-active > a {
    color: black;
}

.wd-tuiter-navigation-bar-inactive > a {
    color: rgb(97, 102, 107);
}

.wd-tuiter-navigation-bar-table-header {
    font-size: 15px;
    padding: 16px;
}

.wd-tuiter-navigation-bar-table-header > a {
    text-decoration: none;
}

.wd-tuiter-active-link-underline {
    height: 0px;
    border: 2px solid rgb(29, 161, 242);
    border-radius: 2px;
    width: 10%;
}

.container {
    position: relative;
}

.wd-tuiter-author-image {
    position: relative;
    width: 100%;
    height: 250px;
    margin-right: -4px;
    border-radius: 10px;
}

.wd-live {
    background-color: rgb(233, 13, 119);
}

.wd-tuiter-suggested-post {
    padding: 10px 20px;
    display: block;
    overflow: auto;
}

.wd-tuiter-author-right-end {
    float: right;
}

.wd-tuiter-trend-category, .wd-tuiter-trend-tweets {
    color: rgb(97, 102, 107);
    font-size: 13px;
}

.wd-tuiter-trending-name {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-weight: bold;
}

hr {
    height: 1px;
    background-color: rgb(203, 209, 218);
    border: none;
}

.wd-nav-display {
    display: flex;
}

.wd-font-tuit-desc {
    font-size: 90%;
}

.wd-image-font {
    margin-top: -40px;
}

.wd-padding-left {
    padding-left:1px;
}

.wd-font-nav-tab {
    font-size:15px;
}