.wd-horizontal {
    display: inline-block;
    margin-right: 30px;
}

.wd-tuiter-author-right-end {
    float: right;
}

.wd-tuiter-bkm-body {
    border-bottom: 1px solid lightgray;
}

.wd-tuiter-bkm-image-icon {
    height: 48px;
    width: 48px;
    margin-top: 12px;
    margin-left: 16px;
    border-radius: 50%;
    float: left;
}

.wd-tuiter-bkm-user-name,
.wd-tuiter-bkm-user-handle,
.wd-tuiter-bkm-tuit-date {
    font-size: 15px;
    padding-top: 12px;
    margin-left: 12px;
    float: left;
}

.wd-tuiter-bkm-message {
    font-size: 15px;
    display: inline-block;
    max-width: 506px;
    padding-left: 12px;
}

.wd-tuiter-bkm-image-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: block;
    width: 504px;
    margin-left: 76px;
    margin-top: 12px;
}

.wd-tuiter-bkm-image-title {
    font-weight: bold;
}

.wd-tuiter-bkm-image-message {
    color: rgb(112, 107, 107);
    display: inline-block;
    margin-top: -10px;
}

.wd-tuiter-bkm-icon-container {
    padding-top: 12px;
    margin-left: 26px;
    padding-bottom: 12px;
}

.wd-tuiter-bkm-icon-text {
    color:rgb(112, 107, 107);
    padding-left: 12px;
}

.wd-tuiter-bkm-icon-heart {
    color: red;
}

.wd-tuiter-bkm-icon-text-heart {
    padding-left: 12px;
    color: rgb(212, 23, 155);
}

.wd-tuiter-bkm-icon-anchor {
    text-decoration: none;
    display: table-cell;
    text-align: center;
    padding-left: 50px;
}

.wd-tuiter-bkm-image-verified {
    height: 2px;
    width: 2px;
}

.wd-tuiter-bkm-image {
    height: 264px;
    width: 504px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(188, 194, 199);
}

.wd-tuiter-bkm-user-name {
    font-weight: bold;
}

.wd-tuiter-bkm-handle {
    color: rgb(112, 107, 107);
    font-size: 13px;
}

.wd-tuiter-bkm-title {
    font-size: 20px;
    font-weight: bold;
}

.wd-tuiter-bkm-user-handle, .wd-tuiter-bkm-tuit-date {
    color: rgb(112, 107, 107);
}

.wd-tuiter-bkm-image-title, .wd-tuiter-bkm-image-message, .wd-tuiter-bkm-card-image-url {
    font-size: 15px;
    padding: 12px;
}

.wd-tuiter-bkm-card-image-url {
    color: rgb(112, 107, 107);
}